{% extends "layout.html" %}
{% block content %}
      <div class="progress">

      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
      </div>
   
            <div class="card">         
                <div class="card-body">
                  <h1><a href="{{url_for('main.home')}}" class="card-link text-secondary">Home Page</a></h1>
                  

                  <h4 class="card-title text-primary">About Blog</h4>
                  <div class="card text-white">
                    <p class="card-body text-warning">
                        
                        <p class="card bg-primary">This is a full feature web Application.</p>
                        <p class="card bg-success" >You can register your name email password. </p>
                        
                        <p class="card bg-dark">User can create update and delete post.  </p>                
                    </p>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                  
                </div>
              
                              
                </div>
            </div>
            




        

   
{% endblock content %}
