{% extends "layout.html" %}
{% block content %}
   
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Blog</h4>
              <p class="card-text">
                  <p>This is a full feature web Application.</p>
                  <p>You can register your name email password. </p>
                  <p>User can create update and delete post.  </p>                
              </p>
                          
            </div>
        </div>
        




        

   
{% endblock content %}
